<a href="https://colab.research.google.com/github/ysh2272/learningstatistics/blob/master/weathertrends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Wrangling
1a. Import Data from GitHub

1b. Check and Correct Type

1c. Set Key Column

1d. Count Rows and Missing Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

worldurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/global.csv'
worlddf = pd.read_csv(worldurl, names = ['year','world']) ## column names for error
# worlddf.head()
# extra column names in first row

worlddf = worlddf.iloc[1:] ## index-based splicing
# worlddf.dtypes
# incorrect data type (object)

worlddf.set_index('year')
worlddf['year'] = worlddf['year'].astype(int) 
worlddf['world'] = worlddf['world'].astype(float)
yearnullcount = worlddf['year'].isnull().sum() ## null counter
worldnullcount = worlddf['world'].isnull().sum()
print('{} rows in worlddf ({} NaN in year, {} NaN in world)'.format(worlddf['year'].size, yearnullcount, worldnullcount))

nyurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/newyork.csv'
nydf = pd.read_csv(nyurl, names = ['year','newyork']).iloc[1:]
nydf.set_index('year')
nydf['year'] = nydf['year'].astype(int)
nydf['newyork'] = nydf['newyork'].astype(float)
yearnullcount = nydf['year'].isnull().sum()
nynullcount = nydf['newyork'].isnull().sum()
print('{} rows in nydf ({} NaN in year, {} NaN in newyork)'.format(nydf['year'].size, yearnullcount,nynullcount))

266 rows in worlddf (0 NaN in year, 0 NaN in world)
271 rows in nydf (0 NaN in year, 5 NaN in newyork)

1e. Check Records

1f. Outer JOIN

In [2]:
newyork = nydf['year']
world = worlddf['year']

nyyears =  [i for i in range(newyork.min(),newyork.max())]
worldyears =  [i for i in range(world.min(),world.max())]
worldmissing = set(worldyears)-set(world)
nymissing = set(nyyears)-set(newyork)
print('Missing Records ({} in worlddf, {} in nydf)'.format(len(worldmissing),len(nymissing)))

nyduplicate = newyork.duplicated()
worldduplicate = world.duplicated()
print('Duplicate Records ({} in worlddf, {} in nydf)'.format(sum(worldduplicate),sum(nyduplicate)))

ny_world = set(nyyears)-set(worldyears)
print('nydf has {} more than worlddf: {}'.format(len(ny_world),ny_world))
world_ny = set(worldyears)-set(nyyears)
print('worlddf has {} more than nydf: {}'.format(len(world_ny),world_ny))

# outerdf = nydf.merge(worlddf, how='outer', on='year') 
# merge gets rid of year, use join instead

Missing Records (0 in worlddf, 0 in nydf)
Duplicate Records (0 in worlddf, 0 in nydf)
nydf has 7 more than worlddf: {1743, 1744, 1745, 1746, 1747, 1748, 1749}
worlddf has 2 more than nydf: {2013, 2014}

#2. Missing Data Handling

2a. Location

* Indices
* Type Checking

2b. Deletion

* Listwise
* Pairwise

In [0]:
newyork = outerdf['newyork']
world = outerdf['world']

nynull = newyork[newyork.isnull()]
print('{} {} NaNs at {} in nydf'.format(len(nynull),type(nynull.iloc[0]),nynull.index.to_list()))
worldnull = world[world.isnull()]
print('{} {} NaNs at {} in worlddf'.format(len(worldnull),type(worldnull.iloc[0]),worldnull.index.to_list()))

listwise = outerdf.drop([0, 1, 2, 3, 4, 5, 6])
pairwise = listwise['newyork'].drop([271, 272])

nynullcheck = pairwise[pairwise.isnull()]
worldnullcheck = listwise['world'][listwise['world'].isnull()]
print('{} NaNs in nydf, {} NaNs in worlddf'.format(len(nynullcheck),len(worldnullcheck)))

NameError: ignored

#3. Exploratory Data Analysis

3a. Outlier Handling 
- Distribution
- Location

In [0]:
newyork = pairwise
world = listwise['world']

print(world.head())
print(newyork.head())

7     8.72
8     7.98
9     5.78
10    8.39
11    8.47
Name: world, dtype: float64
7     10.07
8     10.79
9      2.81
10     9.52
11     9.88
Name: newyork, dtype: float64