<a href="https://colab.research.google.com/github/ysh2272/learningstatistics/blob/master/weathertrends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
globalurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/global.csv'
globaldf = pd.read_csv(globalurl, names = ['YEAR','global'])
globaldf.head() 
# extra column names in first row

globaldf = globaldf.iloc[1:] # removes first row
globaldf = globaldf.sort_values('YEAR')
globaldf.head()
globaldf.dtypes
# incorrect data type (object)

globaldf['YEAR'] = globaldf['YEAR'].astype(int) # changes data type
globaldf['global'] = globaldf['global'].astype(float)
print(globaldf.dtypes)
print('{} rows and {} nulls in global'.format(globaldf.size, globaldf['global'].isnull().sum()))

YEAR        int64
global    float64
dtype: object
532 rows and 0 nulls in global

In [66]:
newyorkurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/newyork.csv'
newyorkdf = pd.read_csv(newyorkurl, names = ['YEAR','newyork'])
newyorkdf = newyorkdf.iloc[1:]
newyorkdf = newyorkdf.sort_values('YEAR')
newyorkdf['YEAR'] = newyorkdf['YEAR'].astype(int)
newyorkdf['newyork'] = newyorkdf['newyork'].astype(float)
print(newyorkdf.dtypes)
print('{} rows and {} nulls in newyork'.format(newyorkdf.size, newyorkdf['newyork'].isnull().sum()))

YEAR         int64
newyork    float64
dtype: object
542 rows and 5 nulls in newyork

In [63]:
# locate nulls in newyorkdf

# locate row discrepancies
globaldf_sort= globaldf.sort_values('YEAR')
newyorkdf_sort = newyorkdf.sort_values('YEAR')
years = [year for year in range (1746, 2013+1)]
global_discrepancy = set(years)-set(globaldf_sort['YEAR'].array)
newyork_discrepancy = set(years)-set(newyorkdf_sort['YEAR'].array)

# Inner join
innerjoindf = pd.merge(newyorkdf_sort, globaldf, how='inner', on = 'YEAR') # joins
print(innerjoindf['newyork'].describe())
print(innerjoindf['global'].describe())

    YEAR  newyork
4   1746      NaN
5   1747      NaN
6   1748      NaN
7   1749      NaN
38  1780      NaN
{1746, 1747, 1748, 1749}