<a href="https://colab.research.google.com/github/ysh2272/learningstatistics/blob/master/weathertrends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0. Importing Data

* SQL 

#1. Data Wrangling
* Pandas

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

worldurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/global.csv'
worlddf = pd.read_csv(worldurl, names = ['year','world']) ## column names for error
# worlddf.head()
# extra column names in first row

worlddf = worlddf.iloc[1:] ## dataset splicing
# worlddf.dtypes
# incorrect data type (object)

worlddf['year'] = worlddf['year'].astype(int) ## changes data type
worlddf['world'] = worlddf['world'].astype(float)
yearnullcount = worlddf['year'].isnull().sum() ## null counter, method chaining
worldnullcount = worlddf['world'].isnull().sum()
print('{} rows in worlddf ({} NaN in year, {} NaN in world)'.format(worlddf['year'].size, yearnullcount, worldnullcount))

nyurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/newyork.csv'
nydf = pd.read_csv(nyurl, names = ['year','newyork']).iloc[1:]
nydf['year'] = nydf['year'].astype(int)
nydf['newyork'] = nydf['newyork'].astype(float)
yearnullcount = nydf['year'].isnull().sum()
nynullcount = nydf['newyork'].isnull().sum()
print('{} rows in nydf ({} NaN in year, {} NaN in newyork)'.format(nydf['year'].size, yearnullcount,nynullcount))

266 rows in worlddf (0 NaN in year, 0 NaN in world)
271 rows in nydf (0 NaN in year, 5 NaN in newyork)

#1. Missing Data Analysis
1a. Missing Records

1b. Missing Data

*   Type Checking
*   Indices

1c. Discrepancies by Column

In [0]:
nyyears = [nydf['year'].min(),nydf['year'].max()]
nyyearslist =  [i for i in range(nyyears[0],nyyears[1])]
worldyears = [worlddf['year'].min(),worlddf['year'].max()]
worldyearslist =  [i for i in range(worldyears[0],worldyears[1])]
worlddf_missing = set(worldyearslist)-set(worlddf['year'])
nydf_missing = set(nyyearslist)-set(nydf['year'])
print('{} Missing Records in worlddf'.format(len(worlddf_missing)))
print('{} Missing Records in nydf'.format(len(nydf_missing)))
nynull = nydf[nydf.isnull().any(axis=1)] ##
nynullindex = nynull.index.tolist() 
print('{} {} NaNs at {} in nydf'.format(nynullcount, type(nynull['newyork'].tolist()[0]),nynullindex))
print('Discrepancies from nydf to worlddf: {}'.format(set(nyyearslist)-set(worldyearslist)))
print('Discrepancies from worlddf to nydf: {}'.format(set(worldyearslist)-set(nyyearslist)))

0 Missing Records in worlddf
0 Missing Records in nydf
5 <class 'float'> NaNs at [4, 5, 6, 7, 38] in nydf
Discrepancies from nydf to worlddf: {1743, 1744, 1745, 1746, 1747, 1748, 1749}
Discrepancies from worlddf to nydf: {2013, 2014}

**2. Data Transformation**

2a. Remove Duplicates

2b. Outlier Analysis

5 NaNs in nydf at [4, 5, 6, 7, 38]

float

**3. Missing Data Handling**

3a. Drop Missing Data

3b. Impute Missing Data

**4. Moving Average Model**

In [0]:
def movingaveragelist(window,time,data):
    time_list = time.tolist()
    data_list = data.tolist()
    listlength = len(time)-window
    movingaverage_list = []
    for i in listlength:
      window_list = data_list[i:i+window].dropna() 
      movingaverage_list= movingaverage_list.append(sum(templist)/len(templist))
    return movingaverage_list

**5. Line Chart**

In [0]:
# plotting
startyear = min(nyyears+worldyears)
endyear = max(nyyears+worldyears)