<a href="https://colab.research.google.com/github/ysh2272/learningstatistics/blob/master/weathertrends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

globalurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/global.csv'
newyorkurl = 'https://raw.githubusercontent.com/ysh2272/learningstatistics/master/newyork.csv'
col_names = ['year','avg_temp']

globaldf = pd.read_csv(globalurl, names = col_names)
#globaldf.head(): has extra row for column names
globaldf = globaldf.iloc[1:]
globaldf.head()
#globaldf.dtypes: all columns are objects, not number data types
globaldf['year'] = globaldf['year'].astype(int)
globaldf['avg_temp'] = globaldf['avg_temp'].astype(float)
globaldf.dtypes
newyorkdf = pd.read_csv(newyorkurl, names = col_names)
newyorkdf = newyorkdf.iloc[1:]
newyorkdf['year'] = newyorkdf['year'].astype(int)
newyorkdf['avg_temp'] = globaldf['avg_temp'].astype(float)
innerjoin = pd.merge(newyorkdf, globaldf, how='inner', on = 'year')
innerjoin.head()
finaldf = innerjoin.rename(columns = {'avg_temp_x':'New York','avg_temp_y':'Global'}) 
finaldf.head()

   year  New York  Global
0  1750      9.02    8.72
1  1751      6.74    7.98
2  1752      7.99    5.78
3  1753      7.19    8.39
4  1754      8.77    8.47

   year  avg_temp_x  avg_temp_y
0  1750        9.02        8.72
1  1751        6.74        7.98
2  1752        7.99        5.78
3  1753        7.19        8.39
4  1754        8.77        8.47

In [0]:


globaldf['avg_temp'].describe()


plt.plot(years,global_temp,'o')
ax = plt.gca()
ax.set_yticks()